.acf-field-font-family-picker {
	.fontpicker-modal-cb {
		display: none;
		&:not(:checked) + .fontpicker-modal {
			& > .dashicons-no {
				display: none;
			}
			.fontpicker-item {
				flex-basis: 100%;
				label {
					grid-template-columns:0 auto;
					margin:1px;
					height:calc(100% - 2px);
				}
				[type="radio"] {
					&:checked + label {
						color:$wp-black;
						background-color: #fff;
					}
				}
				[type="radio"]:not(:checked) + label,
//				.fontpicker-meta,
				.favorite-box {
					display: none;
				}
			}
		}
		&:checked + .fontpicker-modal {
			position: fixed;
			left:0;
			top:0;
			bottom:0;
			right:0;
			border-color:rgba($wp-black,0.9);
			border-style:solid;
			border-width:30px 50px;
			z-index: 100000;
			box-sizing:border-box;
			& > .dashicons-edit {
				display: none;
			}
			.fontpicker-filter {
				display: block;
			}
		}
	}
	.fontpicker-modal {
		background-color: #fff;
		& > .dashicons {
			position: absolute;
			top:0;
			right:0;
			&:before {
				font-size:24px;
			}
		}
		& > .dashicons-edit {
			left:0;
			bottom:0;
			width:100%;
			height:100%;
			&:before {
				position: absolute;
				font-size:24px;
				right:8px;
				top:8px;
			}
		}
		& > .dashicons-no {
			width: 40px;
			height:40px;
			line-height:40px;
			background-color: #fff;
			border-color:$wp-gray;
			border-style: solid;
			border-width:0 0 1px 1px;
		}
	}
	.fontpicker-picker {
		display: flex;
		flex-wrap: wrap;
		// border-right:1px solid $wp-gray;
		// border-bottom:1px solid $wp-gray;
		background-color: $wp-gray;
		max-height: 100%;
		overflow: auto;
		.fontpicker-filter-handle {
			display: none;
		}
		.fontpicker-filter {
			flex-basis: 100%;
			position:sticky;
			top:0;
			box-shadow: 0 0 7px rgba($wp-black,0.3);
			//margin-bottom:10px;
		}
		.fontpicker-filter-section {
			&.-search {
				margin-right:50px;
			}
			&.-weights,
			&.-categories {
				display: flex;
				align-items:center;
				h4 {
					padding-right:10px;
				}
			}
			&.-weights {
				label {
					margin-right:5px;
				}
			}
			&.-categories {
				label {
					border-right-style:none;
					&:first-of-type {
						border-radius:5px 0 0 5px;
					}
					&:last-of-type {
						border-radius:0 5px 5px 0;
						border-right-style:solid;
					}
				}
			}


		}
		.fontpicker-item {
			flex:1 1 0;
			min-width:270px;
			label {
				height: calc(100% - 1px);
				margin-right: 1px;
				margin-bottom: 1px;
			}
		}
	}
}
