
.customize-control-fontpicker {
	.hidden {
		display: none;
	}
}

.control-section-fontpicker {
	& > [id$="-font_weight"],
	& > [id$="-font_style"] {
		width:50%;
		float:left;
		clear:none;
		box-sizing:border-box;
		position: relative;
		&[style*="top:"]:not([style*="top: 0px;"]) {
			// stuck
			&:before {
				content:'';
				display: block;
				background-color: #fff;
				position: absolute;
				left: -10px;
				top: -10px;
				bottom: -10px;
				right: -10px;
				z-index: 1;
				border-bottom:1px solid $wp-gray-dark;
			}
			select {
				position: relative;
				z-index: 2;
			}
		}
	}
	& > [id$="-font_weight"] {
		padding-right:5px
	}
	& > [id$="-font_style"] {
		padding-left:5px
	}

	&.control-subsection:not([style="display: none;"]) ~ .no-fontpicker {
		display: none !important;
	}
	.customize-section-back {
		height:90px;
	}
	.button-link-delete {
		font-size:13px;
		font-weight:normal;
		display: block;
	}
}
.control-section-new_fontpicker {
	[type="text"] {
		&.invalid {
			border: 1px solid $wp-red;
		}
	}
	&.control-subsection { // button
		padding: 10px 20px 11px 14px;
		&:after {
			content:'';
			display: block;
			clear: both;
		}
		.accordion-section-title {
			float:right;
			.dashicons {
				vertical-align: middle;
			}
			#customize-theme-controls & {
				&::after {
					content:none;
				}
				color:#0071a1;
				background-color:#f3f5f6;
				line-height:2.15384615;
				padding:0 10px;
				border-style:solid;
				border-width:1px;
				border-color:#0071a1;
				&:hover,
				&:focus {
					border-style:solid;
					background-color: #f1f1f1;
					border-color:#016087;
					color:#016087;
					transition:none;
				}
				&:focus {
					box-shadow:0 0 0 1px #007cba;
					outline:2px solid transparent;
					outline-offset:0;
				}
			}

		}
	}

}
//// panel


.no-fontpicker {
	padding: 10px 10px 11px 14px;
	font-style: italic;
	color: $wp-gray;
}

.fontpicker-add {
	padding:12px;
	text-align:right;
	.button {
		float:none;
		&::before {
			content: "\f132";
			display: inline-block;
			position: relative;
			left: -2px;
			top: 0;
			font: normal 20px/1 dashicons;
			vertical-align: middle;
			transition: all 0.2s;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}
