@import 'variables/index';
@import 'mixins/index';
@import 'acf-field';
@import 'customizer';

[id*="customize-control-*-font_weight"] {

}


.fontpicker-filter-handle {
	margin-bottom: 0;
	background-color: #fff;
	user-select:none;
	padding:6px;
	font-weight:700;
	display:block;
	.fontpicker-filter-title::after {
		content:$dashicon-arrow-down-alt2;
		float:right;
		font-family:dashicons;
	}
}
.fontpicker-filter-handle,
.fontpicker-filter {
}
.fontpicker-filter {
	display: none;
	// grid-template-columns: auto auto;
	// grid-template-areas:
	// 	"search search"
	// 	"favs weights"
	// 	"cats weights"
	// 	;
	// grid-column-gap: 10px;
	.customize-control-fontpicker & {
		columns: 2;
		@media (max-width: 600px) {
			columns: 2;
		}
		column-gap: 12px;
	}
	background-color:#fff;
	padding:12px;

	[data-filter-prop] {
		display: block;
		padding:2px 8px;
		border:1px solid $wp-gray-dark;
		margin-bottom:2px;
		border-radius:5px;
		@media (max-width: 600px) {
			font-size: 1.1em;
			padding:6px 8px;
		}
	}
}
.fontpicker-filter-section {
	display: block;
	break-inside:avoid;
	padding-top:12px;
	h4 {
		margin:0;
	}
	&.-search {
		padding-top:0;
		background-color:#fff;
		position: relative;
		column-span: all;
		[type="search"] {
			font-weight:300;
			font-size: 1.25em;
			border-radius:0;
			border:1px solid $wp-gray-dark;
			border-radius:50rem;
		}
		.dashicons-search {
			position:absolute;
			right:16px;
			top:0px;
			pointer-events: none;
			font-size:30px;
			color:$wp-gray-dark;
		}
	}
	&.-favorites {
		column-span: all;
	}
	&.-categories {
		label {
			margin:0;
			border-radius:0;
			.customize-control-fontpicker & {
				border-bottom-style:none;
				&:first-of-type {
					border-radius:5px 5px 0 0;
				}
				&:last-of-type {
					border-radius:0 0 5px 5px;
					border-bottom-style:solid;
				}
			}
		}
	}
}
[type="checkbox"].fontpicker-filter-expanded {
	display: none;
	&:checked {
		& + .fontpicker-filter-handle {
			border-bottom:1px solid $wp-gray-dark;
			.fontpicker-filter-title::after {
				content:$dashicon-arrow-up-alt2;
			}
			& + .fontpicker-filter {
				display: block;
			}
		}
	}
}


.fontpicker-filter-input {
	display: none !important;

	@each $prop in 100,200,300,400,500,600,700,800,900,normal,italic,sans-serif,serif,monospace,display,handwriting,__allcats,favorite {
		&[value="#{$prop}"] {
			&[type="radio"] {
				& ~ .fontpicker-filter label[data-filter-prop="#{$prop}"] {
					//border-radius:50rem;
				}
			}
			&:checked {
				@if __allcats != $prop {
					& ~ .fontpicker-item:not([data-filter-props*="|#{$prop}|"]):not(.fontpicker-item-none) {
						display:none;
					}
				}
				& ~ .fontpicker-filter label[data-filter-prop="#{$prop}"] {
					color: #fff;
					border-color: #fff;
					background-color: $wp-blue;
				}
			}
		}
	}

}


// @keyframes spin { 100% { transform:rotate(180deg); } }
@keyframes blink { 100% { color: $wp-gray; } }
.fontpicker-item-none,
.fontpicker-item {
	overflow: hidden;
	label {
		padding:5px 10px;
		@media (max-width: 600px) {
			padding:15px 10px;
		}
		background-color: #fff;
		display: grid;
		grid-template-columns: 32px auto;
		grid-template-rows: auto;
		grid-template-areas: "fav name" "fav meta";
		box-sizing: border-box;

	}
	&:nth-child(2n) label {
		.customize-control & {
			background-color: $wp-gray-lighter;
		}
	}
	[type="radio"] {
		display: none;
		&:checked + label {
			color:#fff;
			background-color: $wp-blue-light;
		}
	}
	.favorite-box {
		grid-area: fav;
	}
	.toggle-favorite {
		text-decoration: none;
		color: $wp-gray-dark;
		font-size:24px;
		line-height:34px;
		&:hover {
			color: $wp-blue;
		}
		&:focus {
			.wp-core-ui & {
				box-shadow:none;
			}
		}
	}
	&[data-filter-props*="|favorite|"] {
		.toggle-favorite {
			color:$wp-blue;
			// text-shadow:0 0 3px $wp-black;
			&::before {
				content:$dashicon-star-filled;
			}
			&:hover {
				color:$wp-gray-dark;
			}
		}
		[type="radio"]:checked + label {
			.toggle-favorite {
				color:#fff;
				&:hover {
					color:$wp-gray;
				}
			}
		}
	}
	.fontpicker-name {
		display: block;
		grid-area:name;
		.customize-control & {
			font-size:1.25em;
			@media (max-width: 600px) {
				font-size:1.75em;
			}
		}
		.acf-input-wrap & {
			font-size:1.75em;
		}
		&[data-loading] {
			position: relative;
			animation:blink 2s ease-in-out alternate infinite;
		}
	}
	.fontpicker-meta {
		display: block;
		grid-area:meta;
		color:$wp-gray-dark;
		font-size:0.9em;
	}
	.fontpicker-meta-name {
		color:$wp-black;
	}
}
